{% extends 'layouts/base.html.twig' %}

{% block title 'pins' ~ parent() %}

{% block body %}



    {% set noPin %}
        <p class="noPin">sorry, no pin yet. <a href="{{ path('app_pins_create') }}">create one</a></p>
    {% endset %}


{#    <h2 class="pin_number">{{ pluralize(pins|length,'Pin') }}</h2>#}
    <h2 class="pin_number" >pins({{ count }})</h2>
    {% if pins|length > 0 %}
        {# {% for row in pins|batch(3) %} : batch(group) 3 by 3 => row is array of 3 elements #}
        <div class="content_pins">
            {% for pin in pins %}
                <ul class="pinBox">
                    <a href="{{ path('app_pins_show', {'id': pin.id}) }}">
                        <li>
                            <img src="{{ pin.imageName ? vich_uploader_asset(pin, 'imageFile'): asset('build/images/placeholder.png')| imagine_filter('squared_thumbnail_small') }}" alt="">
                        </li>
                    </a>
                    <li class="pin_title"><a href=" {{ path('app_pins_show', {'id': pin.id}) }}">{{ pin.title }}</a>
                    </li>
                    {# asset('uploads/pins/'~pin.imageName) : my previous method #}
                    {# <li>{{ pin.description|u.truncate(25, '...', false) }}</li> #}
                        <li class="ago_delete">
                            <small>Submitted : {{ pin.createdAt|date|ago }} by <span class="index_owner">{{ pin.user.fullName}} </span></small>
                            <a class="delete_pin" href="#" onclick="event.preventDefault(); confirm('are you sure?')? document.getElementById('js-delete-pin-{{ pin.id }}').submit(): 0; ">&times;Delete</a>
                            <form id="js-delete-pin-{{ pin.id }}" action="{{ path('app_pins_delete', {'id': pin.getId()}) }}" method="POST" >
                                <input type="hidden" name="_token" value="{{ csrf_token('pin_delete_' ~ pin.id) }}" />
                                <input type="hidden" name="_method" value="DELETE" />
                            </form>
                        </li>

                </ul>
            {% endfor %}
        </div>
            {{ knp_pagination_render(pins) }}

    {% else %}
        {{ noPin }}
    {% endif %}


{% endblock %}